motor
numpy
Pillow
yt-dlp
aiohttp
hachoir
olefile
requests
tgcrypto
filetype
aiofiles
dnspython
tldextract
beautifulsoup4
pyrogram==1.4.12
user_agent
bs4
sqlalchemy==1.3.23
psycopg2-binary
feedparser
tgcrypto
feedparser
pyromod==1.5